# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/logs/latest.log
/.gitattributes
/changelog.txt
/src/main/resources/pack.mcmeta
/src/main/resources/META-INF/mods.toml
/logs/debug.log
